<h1><%= @trip.name %></h1>
<div>
  <%= link_to trips_path do %>
    <i class="fa-solid fa-arrow-left fa-xl"></i>
  <% end %>
  <%= link_to edit_trip_path do %>
    <i class="fa-solid fa-pen-to-square fa-lg"></i>
  <% end %>
</div>
<br>
<br>
<div>
  <div>
    <% @trippers.first(3).each do |user| %>
      <img class="rounded-circle" width="30px" height="30px" src="<%= user.photo.attached? ? image_path("user_seeds/#{user.photo.filename}") : image_path('avatar.png') %>" />
    <% end %>
    <% if @trippers.count > 3 %>
      <span class="rounded-pill border border-success p-2">+ <%= pluralize(@trippers.count - 3, "tripper") %></span>
    <% end %>
  </div>

  <div>
   <i class="fa-solid fa-arrow-up-from-bracket"></i>
  </div>
</div>

<div>
  <div>
    <a href="#" class="btn btn-primary">Add Event</a>
    <a href="#"> Expand All</a>
  </div>
  <div>
    <% @grouped_events = @chron_events.group_by { |e| e.start_date.to_date } %>
    <% @grouped_events.each do |day, events| %>
      <div>
        <strong><%= day.strftime("%b %d") %></strong>
        <%= pluralize(events.count, "event") %>
      </div>
      <div>
      <% events.each do |event| %>
          <% case event.event_type
              when "journey" %>
                <%= event.start_date.strftime("%I:%M") %>
                <%= event.start_date.strftime("%b %d") %>
                --- <%= event.event_type.upcase %> ---
                <%= event.end_date.strftime("%I:%M") %>
                <%= event.end_date.strftime("%b %d") %>
                <br>
                <%= event.start_location %>
                <% @duration = (event.end_date - event.start_date) %>
                --- <%= @duration.to_i/6000 %>h <%= @duration.to_i % 60 %>mins ---
                <%= event.end_location %>
                <br>
              <% when "flight", "train", "bus", "boat" %>
                <%= event.event_type.upcase %>
              <% when "car_bike" %>
                "car_bike"
              <% when "stay" %>
                "stay"
              <% when "restaurant", "show", "visit" %>
                "restaurant / show / visit"
              <% else %>
                <%= event.name.upcase %>
          <% end %>
          <%# event.start_date.strftime("%I:%M") %>
          <%# event.event_type == "other" ? event.name.upcase : event.event_type.upcase %>
          <%# event.end_date.strftime("%I:%M") %>
          <br>
        <% end %>
      </div>
      <br>
    <% end # grouped events do%>
  </div>
</div>
