<div class= "show_page" style="background-image: url('https://live.staticflickr.com/2162/1534505052_f571970f2c_b.jpg')">

  <div class="trip_name">
  <h1><%= @trip.name %></h1>
  </div>
  <div>
    <%= link_to edit_trip_path do %>
      <i class="fa-solid fa-pen-to-square fa-lg"></i>
    <% end %>
  </div>
  <br>
  <br>
  <div class="tripper_share">
    <div class="trippers">
      <% @trippers.first(3).each do |user| %>
        <img class="rounded-circle" width="30px" height="30px" src="<%= user.photo.attached? ? image_path("user_seeds/#{user.photo.filename}") : image_path('avatar.png') %>" />
      <% end %>
      <% if @trippers.count > 3 %>
        <span class="rounded-pill border border-success p-2">+ <%= pluralize(@trippers.count - 3, "tripper") %></span>
      <% end %>
    </div>

    <div>
    <i class="fa-solid fa-arrow-up-from-bracket"></i>
    </div>
  </div>

  <div class="card_trip_show">
    <div class="trip_viewall">

      <div class="secondary-pill-button">
        <%= link_to "ADD EVENT",  new_trip_event_path(@trip) %>
      </div>

      <h3 id="expand-all-button">VIEW ALL</h3>
    </div>
    <% if @trip.events.any? %>
      <div>
        <% @grouped_events = @chron_events.group_by { |e| e.start_date.to_date } %>

          <% @grouped_events.each do |day, events| %>

            <div class="accordion">
              <div class="flex-container">
                <h2><%= day.strftime("%b %d") %></h2>
                  <div class="event-button">
                    <p><%= pluralize(events.count, "event").upcase %></p>
                  </div>
                  <i class="fa-solid fa-chevron-down" style="color: #ffffff;"></i>
              </div>

                <div class="panel">
                  <% events.each do |event| %>

                  <%= event.other? ?  "CUSTOM EVENT" : event.event_type.upcase %> <br>
                  <% case event.event_type
                    when "journey", "flight", "train", "bus", "boat" %>
                      <%# MISSING: FLIGHT NUMBER, TRAIN NUMBER, ETC. %>
                      <%# MISSING: USE GEOCDER TO DISPLAY SHORTER START LOCATIONS (CITY NAME, AIRPORT NAME, ETC.) %>
                      <div class="plane-card-container">
                        <div class="hour-part">
                          <div class="event-hour">
                            <h2><%= event.format_start_time %></h2>
                            <p><%=event.format_start_date %></p>
                          </div>
                          <div class="event-hour">
                            <h2><%= event.format_end_time %></h2>
                            <p><%= event.format_end_date%></p>
                          </div>
                        </div>
                      <div class="plane-container">
                        <div class="plane-part">
                          <% case event.event_type
                            when "flight" %>
                              <svg width="261" height="80%" viewBox="0 0 261 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.24829 6.5H253.116" stroke="white" stroke-opacity="0.37" stroke-linecap="round"/>
                                <path d="M7.88371 7C7.88371 8.57721 6.46197 10 4.52242 10C2.58287 10 1.16113 8.57721 1.16113 7C1.16113 5.42279 2.58287 4 4.52242 4C6.46197 4 7.88371 5.42279 7.88371 7Z" stroke="#7F7EFF" stroke-width="2"/>
                                <path d="M259.748 7C259.748 8.57721 258.327 10 256.387 10C254.448 10 253.026 8.57721 253.026 7C253.026 5.42279 254.448 4 256.387 4C258.327 4 259.748 5.42279 259.748 7Z" stroke="#7F7EFF" stroke-width="2"/>
                                <g clip-path="url(#clip0_31_587)">
                                  <path d="M137.998 5.25C139.487 5.25 142.077 6.04297 142.077 7C142.077 7.98438 139.487 8.75 137.998 8.75H132.922L128.546 13.5598C128.298 13.8332 127.836 14 127.336 14H124.889C124.427 14 124.092 13.7211 124.218 13.4422L126.352 8.75H121.876L119.995 10.325C119.865 10.4344 119.656 10.5 119.438 10.5H117.61C117.27 10.5 117 10.3277 117 10.1172C117 10.0816 117.009 10.0461 117.022 10.0105L118.393 7L117.022 3.98945C117.004 3.95391 117 3.91836 117 3.88281C117 3.66953 117.274 3.5 117.61 3.5H119.438C119.656 3.5 119.865 3.56562 119.995 3.675L121.876 5.25H126.356L124.223 0.557813C124.092 0.278906 124.427 0 124.889 0H127.336C127.836 0 128.298 0.169531 128.546 0.440234L132.922 5.25H137.998Z" fill="#7F7EFF"/>
                                </g>
                              </svg>
                            <% when "train" %>
                              <svg width="261" height="90%" viewBox="0 0 261 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.24829 9.5H253.116" stroke="white" stroke-opacity="0.37" stroke-linecap="round"/>
                                <path d="M7.88371 10C7.88371 11.5772 6.46197 13 4.52242 13C2.58287 13 1.16113 11.5772 1.16113 10C1.16113 8.42279 2.58287 7 4.52242 7C6.46197 7 7.88371 8.42279 7.88371 10Z" stroke="#7F7EFF" stroke-width="2"/>
                                <path d="M259.748 10C259.748 11.5772 258.327 13 256.387 13C254.448 13 253.026 11.5772 253.026 10C253.026 8.42279 254.448 7 256.387 7C258.327 7 259.748 8.42279 259.748 10Z" stroke="#7F7EFF" stroke-width="2"/>
                                <path d="M126.429 0C124.536 0 123 1.42773 123 3.1875V11.6875C123 13.2812 124.257 14.5994 125.896 14.8385L124.254 16.3658C124.004 16.5982 124.182 17 124.536 17H125.954C126.257 17 126.546 16.8871 126.761 16.6879L128.714 14.875H133.286L135.236 16.6879C135.45 16.8871 135.739 17 136.043 17H137.464C137.821 17 138 16.5982 137.746 16.3658L136.104 14.8385C137.746 14.6027 139 13.2812 139 11.6875V3.1875C139 1.42773 137.464 0 135.571 0H126.429ZM125.286 3.1875C125.286 2.5998 125.796 2.125 126.429 2.125H135.571C136.204 2.125 136.714 2.5998 136.714 3.1875V6.375C136.714 6.9627 136.204 7.4375 135.571 7.4375H126.429C125.796 7.4375 125.286 6.9627 125.286 6.375V3.1875ZM131 9.5625C131.455 9.5625 131.891 9.73041 132.212 10.0293C132.534 10.3282 132.714 10.7336 132.714 11.1562C132.714 11.5789 132.534 11.9843 132.212 12.2832C131.891 12.5821 131.455 12.75 131 12.75C130.545 12.75 130.109 12.5821 129.788 12.2832C129.466 11.9843 129.286 11.5789 129.286 11.1562C129.286 10.7336 129.466 10.3282 129.788 10.0293C130.109 9.73041 130.545 9.5625 131 9.5625Z" fill="#7F7EFF"/>
                              </svg>
                            <% when "bus" %>
                              <svg width="261" height="18" viewBox="0 0 261 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.24829 9.5H253.116" stroke="white" stroke-opacity="0.37" stroke-linecap="round"/>
                                <path d="M7.88371 10C7.88371 11.5772 6.46197 13 4.52242 13C2.58287 13 1.16113 11.5772 1.16113 10C1.16113 8.42279 2.58287 7 4.52242 7C6.46197 7 7.88371 8.42279 7.88371 10Z" stroke="#7F7EFF" stroke-width="2"/>
                                <path d="M259.748 10C259.748 11.5772 258.327 13 256.387 13C254.448 13 253.026 11.5772 253.026 10C253.026 8.42279 254.448 7 256.387 7C258.327 7 259.748 8.42279 259.748 10Z" stroke="#7F7EFF" stroke-width="2"/>
                                <path d="M131 1C135.2 1 138 2.16875 138 3.65625V4.1875V5.25C138.553 5.25 139 5.7248 139 6.3125V8.4375C139 9.0252 138.553 9.5 138 9.5V14.8125C138 15.4002 137.553 15.875 137 15.875V16.9375C137 17.5252 136.553 18 136 18H135C134.447 18 134 17.5252 134 16.9375V15.875H128V16.9375C128 17.5252 127.553 18 127 18H126C125.447 18 125 17.5252 125 16.9375V15.875C124.447 15.875 124 15.4002 124 14.8125V9.5C123.447 9.5 123 9.0252 123 8.4375V6.3125C123 5.7248 123.447 5.25 124 5.25V4.1875V3.65625C124 2.16875 126.8 1 131 1ZM126 6.3125V9.5C126 10.0877 126.447 10.5625 127 10.5625H130.5V5.25H127C126.447 5.25 126 5.7248 126 6.3125ZM131.5 10.5625H135C135.553 10.5625 136 10.0877 136 9.5V6.3125C136 5.7248 135.553 5.25 135 5.25H131.5V10.5625ZM126.5 14.2812C126.765 14.2812 127.02 14.1693 127.207 13.9701C127.395 13.7708 127.5 13.5005 127.5 13.2188C127.5 12.937 127.395 12.6667 127.207 12.4674C127.02 12.2682 126.765 12.1562 126.5 12.1562C126.235 12.1562 125.98 12.2682 125.793 12.4674C125.605 12.6667 125.5 12.937 125.5 13.2188C125.5 13.5005 125.605 13.7708 125.793 13.9701C125.98 14.1693 126.235 14.2812 126.5 14.2812ZM135.5 14.2812C135.765 14.2812 136.02 14.1693 136.207 13.9701C136.395 13.7708 136.5 13.5005 136.5 13.2188C136.5 12.937 136.395 12.6667 136.207 12.4674C136.02 12.2682 135.765 12.1562 135.5 12.1562C135.235 12.1562 134.98 12.2682 134.793 12.4674C134.605 12.6667 134.5 12.937 134.5 13.2188C134.5 13.5005 134.605 13.7708 134.793 13.9701C134.98 14.1693 135.235 14.2812 135.5 14.2812ZM134 3.65625C134 3.36406 133.775 3.125 133.5 3.125H128.5C128.225 3.125 128 3.36406 128 3.65625C128 3.94844 128.225 4.1875 128.5 4.1875H133.5C133.775 4.1875 134 3.94844 134 3.65625Z" fill="#7F7EFF"/>
                              </svg>
                          <% end%>
                          <div class="destination-name">
                            <p><%= event.start_location %></p>
                            <p><%= event.format_duration_h_min %></p>
                            <p><%= event.end_location %></p>
                          </div>
                        </div>
                        <div class="down-part">
                          <div class="event-button">
                            <p>SEAT: 17B</p>
                          </div>
                        </div>
                      </div>
                    </div>

                      <%# Departing: <%= event.format_start_time <%= event.format_start_date %>
                      <%# ------ %>
                      <%# Arriving: <%= event.format_end_time <%= event.format_end_date %>
                      <%# <br>
                      From: <%= event.start_location %>
                      <%# ------ %>
                      <%# To: <%= event.end_location %>
                      <%# <br> %>
                      <%# Duration: <%= event.format_duration_h_min %>
                      <%# <br> %>
                      <%# <br> %>

                    <% when "rental" %>
                      <%# MISSING: THIS NEEDS TO BE BROKEN DOWN INTO TWO EVENTS: Pick up vs Drop off %>
                      Pick up:
                      <%= event.start_location %> at
                      <%= event.format_start_time %> on
                      <%= event.start_date.strftime("%b %d") %>
                      <br>
                      Drop off:
                      <%= event.end_location %> at
                      <%= event.format_end_time %> on
                      <%= event.format_end_date %>
                      <br>
                      Renting for <%= pluralize(event.format_duration_d, "day") %>
                      <br>
                      <br>
                    <% when "stay" %>
                      <div class="other-event-card-container">
                        <div>
                          <div class="event-infomations" style="margin-bottom: 21px">
                            <h2><%= "#{event.provider} in " if event.provider %><%= event.start_location %><h2>
                          </div>
                          <div class="event-infomations">
                            <div class="horizontal-display">
                              <svg style="margin-right: 9px" width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M0 13.5938C0 14.3701 0.671875 15 1.5 15H12.5C13.3281 15 14 14.3701 14 13.5938V5.625H0V13.5938ZM10 7.85156C10 7.6582 10.1688 7.5 10.375 7.5H11.625C11.8312 7.5 12 7.6582 12 7.85156V9.02344C12 9.2168 11.8312 9.375 11.625 9.375H10.375C10.1688 9.375 10 9.2168 10 9.02344V7.85156ZM10 11.6016C10 11.4082 10.1688 11.25 10.375 11.25H11.625C11.8312 11.25 12 11.4082 12 11.6016V12.7734C12 12.9668 11.8312 13.125 11.625 13.125H10.375C10.1688 13.125 10 12.9668 10 12.7734V11.6016ZM6 7.85156C6 7.6582 6.16875 7.5 6.375 7.5H7.625C7.83125 7.5 8 7.6582 8 7.85156V9.02344C8 9.2168 7.83125 9.375 7.625 9.375H6.375C6.16875 9.375 6 9.2168 6 9.02344V7.85156ZM6 11.6016C6 11.4082 6.16875 11.25 6.375 11.25H7.625C7.83125 11.25 8 11.4082 8 11.6016V12.7734C8 12.9668 7.83125 13.125 7.625 13.125H6.375C6.16875 13.125 6 12.9668 6 12.7734V11.6016ZM2 7.85156C2 7.6582 2.16875 7.5 2.375 7.5H3.625C3.83125 7.5 4 7.6582 4 7.85156V9.02344C4 9.2168 3.83125 9.375 3.625 9.375H2.375C2.16875 9.375 2 9.2168 2 9.02344V7.85156ZM2 11.6016C2 11.4082 2.16875 11.25 2.375 11.25H3.625C3.83125 11.25 4 11.4082 4 11.6016V12.7734C4 12.9668 3.83125 13.125 3.625 13.125H2.375C2.16875 13.125 2 12.9668 2 12.7734V11.6016ZM12.5 1.875H11V0.46875C11 0.210937 10.775 0 10.5 0H9.5C9.225 0 9 0.210937 9 0.46875V1.875H5V0.46875C5 0.210937 4.775 0 4.5 0H3.5C3.225 0 3 0.210937 3 0.46875V1.875H1.5C0.671875 1.875 0 2.50488 0 3.28125V4.6875H14V3.28125C14 2.50488 13.3281 1.875 12.5 1.875Z" fill="#7F7EFF"/>
                              </svg>
                              <p><%= event.start_date.strftime("%b %d") %>, <%= event.end_date.strftime("%b %d") %> (<%= pluralize(event.format_duration_d, "night") %>)</p>
                            </div>
                              <div class="horizontal-display">
                                <svg style="margin-right: 9px" width="15" height="25" viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path id="Vector" d="M5.46875 15.4756V23.1265L6.54395 24.7388C6.77588 25.0864 7.28711 25.0864 7.51904 24.7388L8.59375 23.1265V15.4756C8.08643 15.5693 7.56543 15.625 7.03125 15.625C6.49707 15.625 5.97607 15.5693 5.46875 15.4756ZM7.03125 0C3.14795 0 0 3.14795 0 7.03125C0 10.9146 3.14795 14.0625 7.03125 14.0625C10.9146 14.0625 14.0625 10.9146 14.0625 7.03125C14.0625 3.14795 10.9146 0 7.03125 0ZM7.03125 3.71094C5.2002 3.71094 3.71094 5.2002 3.71094 7.03125C3.71094 7.35449 3.44824 7.61719 3.125 7.61719C2.80176 7.61719 2.53906 7.35449 2.53906 7.03125C2.53906 4.5542 4.55469 2.53906 7.03125 2.53906C7.35449 2.53906 7.61719 2.80176 7.61719 3.125C7.61719 3.44824 7.35449 3.71094 7.03125 3.71094Z" fill="#7F7EFF"/>
                                </svg>
                                <p><%= event.start_location %></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% when "restaurant", "visit", "show" %>
                      <%= event.name %>
                      <% if event.event_type == "show" %>
                        at <%= event.provider %>

                        <br>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
            </div>
          <% end %>
        <% else %>
      <p>Mmh, it’s pretty quiet there... Tap on “ADD EVENT" to start</p>
    <% end %>
  </div>
</div>
