<div id="stay" class="input-wrapper d-none">
  <%= f.input :provider %>
  <%= f.input :provider_phone %>
  <%= f.input :provider_email %>
  <%= f.input :reservation_number %>
  <%= f.input :notes %>
  <%= f.submit %>
</div>
