<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="background-color: transparent">
  <div class="container-fluid">

    <div class="previous">
      <%= link_to :back do %>
        <i class="fa-solid fa-arrow-left fa-xl"></i>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="navbar-bottom" style="display:flex;flex-direction: row;align-items: center;justify-content: space-between;height: 68px;padding-right: 13px;">
    <div class="navbar_trip" style="display: flex;justify-content: center;flex-direction: column;width: 49px;">
      <a href="#" style="
    /* height: 78px; */
">
        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path id="Vector 8" d="M1 8.76923V22H8.36842V14.3077H14.2632V22H22V8.76923L11.3158 2L1 8.76923Z" stroke="#7F7EFF" stroke-width="2"></path>
        </svg>
      </a>
        <p style="margin-bottom: 0px;display: flex;flex-wrap: nowrap;justify-content: center;font-size: 12px;">Trip</p>
      </div>
      <div class="navbar_event" style="display: flex;flex-direction: row;align-items: center;">
        <div class="event-button" style="
    margin-right: 15px;
">
          <p>Flight</p>
        </div>
        <div class="text-navbar_event" style="display: flex;align-items: flex-start;flex-direction: column;">
        <h2 style="
    color: white;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 0px;
    margin-top: 18px;
">02:00pm</h2>
        <p style="font-size: 9px;color: white;margin-bottom: 0px;">Sun, 21 June</p><p>
        </p></div>
      </div>
      <div class="navbar_next">
        <a href="#" style="width: 78px">
        <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Group 16">
            <g id="Group 15">
            <line id="Line 4" x1="9.89958" y1="21.5061" x2="20.5062" y2="10.8995" stroke="#7F7EFF" stroke-width="2"></line>
            </g>
            <g id="Group 14">
            <line id="Line 5" x1="10.6068" y1="1.00005" x2="21.2134" y2="11.6067" stroke="#7F7EFF" stroke-width="2"></line>
            </g>
          </g>
          </svg>
        </a>
          <p style="display: flex;font-weight: light;margin-bottom: 0px;font-size: 12px;align-items: center;flex-direction: row;justify-content: center;">Next event</p>

      </div>
  </div>
