<div>
  <% case @event.event_type when "journey", "flight", "train", "bus", "boat" %>
    <h2>Details for this journey</h2>
    <%# MISSING: FLIGHT NUMBER, TRAIN NUMBER, ETC. %>
    <%# MISSING: USE GEOCDER TO DISPLAY SHORTER START LOCATIONS (CITY NAME, AIRPORT NAME, ETC.) %>
    Departing: <%= @event.format_start_time %> <%= @event.format_start_date %>
    ------
    Arriving: <%= @event.format_end_time %> <%= @event.format_end_date %>
    <br>
    From: <%= @event.start_location %>
    ------
    To: <%= @event.end_location %>
    <br>
    Duration: <%= @event.format_duration_h_min %>
    <br>
    <%# &. is a shortcut for the #try! method: %>
    <%# it attempts the method call but if the object does not exist (i.e. no seat number) %>
    <%# it simply does not return anything, instead of returning an error %>
    <%= @event&.seat_number %>
  <% when "rental" %>
    <%# MISSING: THIS NEEDS TO BE BROKEN DOWN INTO TWO EVENTS: Pick up vs Drop off %>
    Pick up:
    <%= @event.start_location %> at
    <%= @event.format_start_time %> on
    <%= @event.start_date.strftime("%b %d") %>
    <br>
    Drop off:
    <%= @event.end_location %> at
    <%= @event.format_end_time %> on
    <%= @event.format_end_date %>
    <br>
    Renting for <%= pluralize(event.format_duration_d, "day") %>
    <br>
  <% when "stay" %>
    <%= "#{@event.provider} in " if @event.provider %><%= @event.start_location %>
    <br>
    Staying <%= pluralize(@event.format_duration_d, "night") %>
    <br>
    Address: <%= @event.provider_address %>
    <br>
  <% when "restaurant", "visit", "show" %>
    <%= @event.name %>
    <% if @event.event_type == "show" %>
      at <%= @event.provider %>
      <br>
      Show starts at <%= @event.format_start_time %>
    <% else %>
      at <%= @event.format_start_time %>
    <% end %>
    <br>
    Address: <%= @event.start_location %>
    <br>
  <% else %>
    <%= @event.name %>
    <br>
    Starts at <%= @event.format_start_time %>
    Location: <%= @event.start_location %>
    <br>
    Ends at <%= @event.format_end_time %>
    <% if @event.end_location != @event.start_location %>
      Location: <%= @event.end_location %>
    <% end %>
  <br>
  <% end %>
</div>
<br>

<div>
  <h2>My Documents</h2>
    <div>
    <%= link_to "Add file",  "#", class: "btn btn-primary" %>
    </div>
</div>
<br>

<div>
  <h2>Checklist</h2>
    <div>
      <ul>
        <% @event.tasks.each do |task| %>
          <li style="list-style-type:none">
            <% if task.is_complete %>
              <%= link_to task_path(task, params: {task: {is_complete: false}}), data: {turbo_method: :patch} do %>
                <i class='fa-solid fa-circle-check fa-lg'></i>
              <% end %>
                <span style="text-decoration:line-through"><%= task.content %></span>
            <% else %>
              <%= link_to task_path(task, params: {task: {is_complete: true}}), data: {turbo_method: :patch} do %>
                <i class="fa-regular fa-circle fa-lg"></i>
              <% end %>
              <%= task.content %>
            <% end %>
            <%= link_to task_path(task), data: {turbo_method: :delete} do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <%= simple_form_for [@event, @task] do |f| %>
        <div class="row">
          <div class="col">
            <%= f.input :content %>
          </div>
          <div class="col">
            <%= f.submit %>
          </div>
        </div>
      <% end %>
    </div>
</div>
