<div class="container">
  <% case @event.event_type
    when "journey", "flight", "train", "bus", "boat" %>
    <div class="left-align">
      <h2>Booking details</h2>
    </div>
    <%# MISSING: FLIGHT NUMBER, TRAIN NUMBER, ETC. %>
    <%# MISSING: USE GEOCDER TO DISPLAY SHORTER START LOCATIONS (CITY NAME, AIRPORT NAME, ETC.) %>
    <div class="event-card-container">
      <div class="journey-time">
        <div class="event-hour">
          <h2><%= @event.format_start_time %></h2>
          <p><%= @event.format_start_date %></p>
        </div>
        <div class="event-hour">
          <h2><%= @event.format_end_time %></h2>
          <p><%= @event.format_end_date %></p>
        </div>
      </div>
      <div class="journey-container">
        <div class="journey-overview">
          <svg width="261" height="14" viewBox="0 0 261 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.24829 6.5H253.116" stroke="white" stroke-opacity="0.37" stroke-linecap="round"/>
            <path d="M7.88371 7C7.88371 8.57721 6.46197 10 4.52242 10C2.58287 10 1.16113 8.57721 1.16113 7C1.16113 5.42279 2.58287 4 4.52242 4C6.46197 4 7.88371 5.42279 7.88371 7Z" stroke="#7F7EFF" stroke-width="2"/>
            <path d="M259.748 7C259.748 8.57721 258.327 10 256.387 10C254.448 10 253.026 8.57721 253.026 7C253.026 5.42279 254.448 4 256.387 4C258.327 4 259.748 5.42279 259.748 7Z" stroke="#7F7EFF" stroke-width="2"/>
            <g clip-path="url(#clip0_31_587)">
              <path d="M137.998 5.25C139.487 5.25 142.077 6.04297 142.077 7C142.077 7.98438 139.487 8.75 137.998 8.75H132.922L128.546 13.5598C128.298 13.8332 127.836 14 127.336 14H124.889C124.427 14 124.092 13.7211 124.218 13.4422L126.352 8.75H121.876L119.995 10.325C119.865 10.4344 119.656 10.5 119.438 10.5H117.61C117.27 10.5 117 10.3277 117 10.1172C117 10.0816 117.009 10.0461 117.022 10.0105L118.393 7L117.022 3.98945C117.004 3.95391 117 3.91836 117 3.88281C117 3.66953 117.274 3.5 117.61 3.5H119.438C119.656 3.5 119.865 3.56562 119.995 3.675L121.876 5.25H126.356L124.223 0.557813C124.092 0.278906 124.427 0 124.889 0H127.336C127.836 0 128.298 0.169531 128.546 0.440234L132.922 5.25H137.998Z" fill="#7F7EFF"/>
            </g>
          </svg>
          <div class="destination-name">
            <p><%= @event.start_location %></p>
            <p><%= @event.format_duration_h_min %></p>
            <p><%= @event.end_location %></p>
          </div>
        </div>
        <% if @event.seat_number %>
          <div class="journey-extra-details">
            <div class="event-button">
              <p><%= @event&.seat_number %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% when "rental" %>xº
      <div class="left-align">
        <h2>Rental details</h2>
      </div>
      <%# MISSING: THIS NEEDS TO BE BROKEN DOWN INTO TWO EVENTS: Pick up vs Drop off %>
      Pick up:
      <%= @event.start_location %> at
      <%= @event.format_start_time %> on
      <%= @event.start_date.strftime("%b %d") %>
      <br>
      Drop off:
      <%= @event.end_location %> at
      <%= @event.format_end_time %> on
      <%= @event.format_end_date %>
      <br>
      Renting for <%= pluralize(event.format_duration_d, "day") %>
      <br>

    <% when "stay" %>
      <div class="left-align">
        <h2>Details for your stay</h2>
      </div>
      <%= "#{@event.provider} in " if @event.provider %><%= @event.start_location %>
      <br>
      Staying <%= pluralize(@event.format_duration_d, "night") %>
      <br>
      Address: <%= @event.provider_address %>
      <br>
    <% when "restaurant", "visit", "show" %>
      <div class="left-align">
        <h2>Event details</h2>
      </div>
      <%= @event.event_type.capitalize %>: <%= @event.name %>
      <% if @event.event_type == "show" %>
        at <%= @event.provider %>
        <br>
        Show starts at <%= @event.format_start_time %>
      <% else %>
        at <%= @event.format_start_time %>
      <% end %>
      <br>
      Address: <%= @event.start_location %>
      <br>

    <% else %>
      <div class="left-align">
        <h2>Custom Event Details</h2>
      </div>
      <%= @event.name %>
      <br>
      Starts at <%= @event.format_start_time %>
      Location: <%= @event.start_location %>
      <br>
      <% if @event.end_date.present? %>
        Ends at <%= @event.format_end_time %>
      <% end %>
      <% if @event.end_location != @event.start_location %>
        Location: <%= @event.end_location %>
      <% end %>
    <br>
    <% end%>
  <br>
  <br>
  <br>
  <div>
    <div class="left-align">
      <h2>Files</h2>
    </div>
    <div>
    <%= link_to "Add file",  "#", class: "btn btn-primary" %>
    </div>
  </div>
  <br>
  <br>
  <br>

  <div>
    <div class="left-align">
      <h2>Checklist</h2>
    </div>
    <%# MISSING: Inline edit a task %>
    <div>
      <ul>
        <% @event.tasks.each do |task| %>
          <li style="list-style-type:none">
            <% if task.is_complete %>
              <%= link_to task_path(task, params: {task: {is_complete: false}}), data: {turbo_method: :patch} do %>
                <i class='fa-solid fa-circle-check fa-lg'></i>
              <% end %>
                <span style="text-decoration:line-through"><%= task.content %></span>
            <% else %>
              <%= link_to task_path(task, params: {task: {is_complete: true}}), data: {turbo_method: :patch} do %>
                <i class="fa-regular fa-circle fa-lg"></i>
              <% end %>
              <%= task.content %>
            <% end %>
            &nbsp;
            <%= link_to task_path(task), data: {turbo_method: :delete} do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <%= simple_form_for [@event, @task], html: { id: 'add-task-form' } do |f| %>
        <div class="row">
          <div class="col-2">
            <%= f.button :button, class: "add-task-button" do %>
              <i class="fa-solid fa-plus" style="color: #7f7eff;"></i>
            <% end %>
          </div>
          <div class="col-10">
            <%= f.input :content, label: false, placeholder: 'add a task to the list…', input_html: { class: 'add-task-input' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
